<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Content - Fossflix</title>
    <link rel="stylesheet" href="/css/edit.css">
    <script src="/js/query.js"></script>
</head>
<body>
    <div class="edit-container">
        <h1 class="edit-title">Edit Movie</h1>
        <!-- Updated form with enctype and method for file upload, and styling class names -->
        <form id="movie_upload_form" class="edit-form" enctype="multipart/form-data">
            <div class="input-group">
                <label for="title">Title</label>
                <input type="text" name="title" placeholder="Enter movie title"></input>
            </div>
            <div class="input-group">
                <label for="description">Description</label>
                <textarea name="description" placeholder="Enter movie description"></textarea>
            </div>
            <div class="input-group">
                <label for="tags">Tags</label>
                <input type="text" name="tags" placeholder="Enter tags, separated by commas"></input>
            </div>
            <div class="input-group">
                <label for="movie">Movie File</label>
                <input type="file" name="movie" class="edit-input file-input"></input>
            </div>
            <button type="submit" class="submit-button" onclick="_add_movie('movie_upload_form')">Upload Video</button>
            
        </form>
    </div>
    <script></script>
</body>
</html>
