<!DOCTYPE html>
<html>
  <head>
    <script src="/js/query.js"/></script>
    <link rel="stylesheet" href="/css/base.css">
  </head>
  <body>
    <div>
      <form id="movie_upload_form">
        <input name="title" placeholder="title" type="text"></input>
        <input name="description" placeholder="description" type="textarea"></input>
        <input name="tags" placeholder="tags" type="text"></input>
        <input name="movie" type="file"></input>
      </form>
      <button onclick="_add_movie('movie_upload_form')">Upload Video</button>
    </div>
  </body>
  <script>
  </script>
</html>
