extends base

block head
    title Edit Content - Fossflix
    link(rel='stylesheet', href='/css/edit-upload.css')
    script(src='/js/upload.js') // Ensure you have this script to handle the upload

block content
    .edit-container
        h1.edit-title Upload Movie

        form#movie_upload_form.edit-form(enctype="multipart/form-data", method="post", action="/api/movies/add")
            .input-group
                label(for='title') Title
                input(type='text', name='title', placeholder='Enter movie title')
            .input-group
                label(for='description') Description
                textarea(name='description', placeholder='Enter movie description')
            .input-group
                label(for='tags') Tags
                input(type='text', name='tags', placeholder='Enter tags, separated by commas')
            .input-group
                label(for='movie') Movie File
                input.edit-input.file-input(type='file', name='movie')
            .upload-status.hidden
                .uploading-text Uploading...
                .progress-bar
                    div.progress-bar-fill(style="width: 0%")
            button.submit-button(type="submit") Upload Movie
